extends layout

block content
  span(style="background-color: #a6efb9") [Client Application Page]
  h1= title
  p Welcome to #{title}!!
  div
    a(href="/client-app/oauth2/") oauth2 sample
  div
    a(href="/client-app/openid-connect/") openid connect sample
