extends layout

block content
    span(style="background-color: #a6efb9") [Client Application Page]
    h1= title
    p Click below button to start authorization...
    p To click button, you send request to authorization server.
    div
        input(
        type="button",
        value="Authorization Code Flow",
        onClick="location.href='/auth-server/oauth2/authorization-confirm'"
        )
    hr
    div
        a(href="/") Top page
