extends layout

block content
    span(style="background-color: #a6efb9") [Client Application Page]
    h1= "OAuth2.0 Authorization Result"
    p Result #{result}
    p= description
    hr
    div
        a(href="/") Back to Top page.
    div
        a(href="/client-app/oauth2/") Back to Oauth 2.0 page.
